@using CI_Entity.Models.ViewModel
@model MissionList
@{
    Layout = "_navbar1";
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>
    <link rel="stylesheet" href="~/css/StoriesListing.css" />

</head>
<body>
 
    <div class="container-fluid p-0">
        <div class="story-header">

            <div class="img-div">
                <img src="/Image/Grow-Trees-On-the-path-to-environment-sustainability-login.png" class="story-img">
            </div>

            <div class="img-btn-div">
                    <p class="story-text">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut, similique? Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Perspiciatis molestiae quasi fugit adipisci repudiandae consequatur.
                    </p>
                <button class="sys-btn">Share your Story <i class="bi bi-arrow-right"></i></button>
            </div>        

        </div>

    </div>

    <div class="container grid-container mt-4">
      
        <div class="row ">

            @foreach(var i in Model.stories)
            {     
            <div class="missioncard col-12 col-md-6 col-lg-4 mb-2">
                <div class="card">

                    <div class="img-event">
                        <img class="card-img-top card-img"
                             src="/Image/Grow-Trees-On-the-path-to-environment-sustainability-login.png"
                             alt="Card image cap">
                            <div class="view-details-btn p-1"><button style="border-radius:25px"> <a href="/Home/StoryDetails?missionid=@i.MissionId" style="text-decoration:none;color:black">View Deatils</a><i class="bi bi-arrow-right"></i></button></div>
                        <div><button class="theme-btn " >@i.User.LastName @i.User.FirstName</button></div>
              
                    </div>  


                    <div class="card-body m-2">
                        <h5 class="card-title">
                            @i.Title
                        </h5>
                        <p class="card-text text-secondary">
                            @i.Description
                        </p>
                        <div class="d-flex">
                            <img src="/Image/volunteer1.png"/>
                                <div class="d-flex justify-content-center m-3">@i.User.LastName @i.User.FirstName</div>
                        </div>
                         
                    </div>
                </div>
            </div>
            }



           
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>                        
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>

    </div>


</body>
</html>
