@using CI_Entity.ViewModel
@model StoryModel
@{
    Layout = "_navbar1";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script src="https://cdn.ckeditor.com/4.20.2/standard/ckeditor.js"></script>
    <link rel="stylesheet" href="~/css/AddStory.css" asp-append-version="true" />
</head>
<body>
    @{
        var userId = Context.Session.GetString("user");
    }
    <div class=" sharestory container mt-3">
        <div class="row">
            <div class="col-12 col-md-6 col-sm-12">
                <lable class="fs-2"> Share Your Story</lable>
            </div>
        </div>
        <form asp-controller="Story" asp-action="addStoryDetail" enctype="multipart/form-data" method="post">
            <div class="row ">
                <div class="col-11 col-lg-4 col-md-6 col-sm-11 mt-2">
                    <lable class="fs-6">Select mission</lable>
                    @if (userId != null)
                    {
                        var m = Model.missionId;
                        <select asp-for="missionId" class="form-select" aria-label="Default select example">
                            <option selected disabled>--Select Mission-- </option>
                            @foreach (var i in Model.missionApplications)
                            {
                                if (i.DeletedAt == null)
                                {
                                    
                                <option value="@i.Mission.MissionId">@i.Mission.MissionId @i.Mission.Title</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="missionId" class="text-danger"></span>
                    }
                    else
                    {
                        <select class="form-select" aria-label="Default select example" onclick="loginalert()">
                            --
                        </select>
                    }

                </div>

                <div class=" form-group col-11 col-lg-4 col-md-6 col-sm-11 mt-2">
                    <label class="fs-6" asp-for="title">My Story Title</label>
                    <input type="text" asp-for="title" placeholder="Enter Story Title" value="@Model.title" class="col-12 border-1 p-2 " style="height:40px; border-radius:5px" />
                    <span asp-validation-for="title" class="text-danger"></span>
                </div>

                <div class="form-group col-11 col-lg-4 col-md-6 col-sm-11 mt-2">
                    <label class="fs-6" asp-for="date">Date</label>
                    <input type="date" asp-for="date" placeholder="Select Date" class="col-12 border-1 p-2 " style="height:40px; border-radius:5px" min="2023-02-22"/>
                    <span asp-validation-for="date" class="text-danger"></span>

                </div>

            </div>

            <div class="row mt-4">
                <label class="fs-5 ">My Story</label>
                <div class="col-12 mt-2">
                    <textarea class="" asp-for="editor1" name="editor1"></textarea>
                    <span asp-validation-for="editor1" class="text-danger"></span>

                </div>
            </div>



            <div class="row mt-4  form-group">
                <label class="fs-5">Enter Video URL</label>

                <input type="text" asp-for="url" placeholder="Enter your URL" class="col-12 border-1 border-black  mt-1 mb-2" style="height:40px; border-radius:5px" />

            </div>

            <label class=" fs-5 mt-2 "> Upload Your Photos</label>
            <div class="input-div">
                <p>Drag & drop photos here or <strong>Browse</strong></p>
                <input type="file" class="file-input file" id="imageupload" multiple="multiple" accept="image/jpeg, image/png, image/jpg">
            </div>
            <output id="preview">
               
            </output>

            <output class="d-flex" id="1">

             <div class="imgdiv d-flex">
                    @if (Model.storyMedia != null)
                    {
                        foreach (var m in Model.storyMedia)
                        {
                            @if (m.StoryType != "Video")
                            {
                                <div class="image m-1" id="@m.StoryMediaId">
                                    <img src="@m.StoryPath" alt="image" style="height:100px;">
                                    <span onclick="DeleteImg(@m.StoryMediaId)" class="bg-light" style="color:black;cursor:pointer">×</span>
                                </div>
                            }

                        }
                    }
             </div>
           
            </output>
            <select id="img-select" class="d-none" multiple asp-for="ImgList">
             
            </select>


            <div class="row flex-column flex-md-row mt-4 mb-2">
                <div class="col-12 col-md-2 me-auto">
                    <button class="w-100 bg-white rounded-5 py-2 canclebtn" asp-controller="story" asp-action="StoriesListing">cancel</button>
                </div>
                <div class=" col-12 col-md-2 mt-2 mt-md-0 ">
                    <button class="w-100 bg-white rounded-5 py-2 savecancelbtn" type="submit" name="action" value="save">Save</button>
                </div>

                <div class=" col-12 col-md-2 mt-2 mt-md-0">
                    <button class="w-100 bg-white rounded-5 py-2 savecancelbtn" type="submit" name="action" value="submit">Submit</button>
                </div>

                <input type="hidden" asp-for="storyId" value="@Model.storyId" />
            </div>

        </form>
    </div>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
            integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    <script>

        CKEDITOR.replace('editor1');

        function DeleteImg(id){
          
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {


                    $.ajax({
                        method: "POST",
                        url: "/User/Story/DeleteImg",
                        data: { 'id': id },
                        success: function (res) {

                            Swal.fire(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                            )
                            document.getElementById(id).style.display = "none";
                            $('.imgdiv').html($(res).find('.imgdiv').html());

                        },
                        error: function () {
                            alert("User Error")
                        }
                    });

                   
                }

               


            })

           
        }

        //=============================Image Preview================
        const inputDiv = document.querySelector(".input-div")
        const input = document.querySelector("#imageupload")
        const output = document.querySelector("#preview")
        const imgsender = document.querySelector("#img-select")

        let imagesArray = [];
        let FilesToUpload = [];
        let FilesNameToUpload = [];
        let DelImg = [];
        $("#preview").html("");

        $("#imageupload").on("change", () => {

            const files = input.files
            for (let i = 0; i < files.length; i++) {

                FilesNameToUpload.push(files[i].name)
                var file = files[i]
                var reader = new FileReader();
                reader.onload = function (event) {
                    FilesToUpload.push(event.target.result);
                    
                }

                reader.readAsDataURL(file);
                displayImages()
            }

          
        })




        function displayImages() {
            $("#preview").html("");

            setTimeout(function () {
                for (let i = 0; i < FilesToUpload.length; i++) {
                    $("#preview").append(`<div class="image"><img src="${FilesToUpload[i]}" alt="image">
                                                                     <button type="button" class="position-absolute image-close-btn bg-light" onclick="deleteImage(${i})" style="right:-3px;font-size:15px">&#x2716</button>
                                                           </div>`)
                }
                 
            }, 100)

            console.log(FilesToUpload)
            $("#img-select").html("")   
            for (let j = 0; j < FilesToUpload.length; j++) {

                const selectElement = document.getElementById("img-select");
                const optionElement = document.createElement("option");
                optionElement.text = FilesToUpload[j];
                optionElement.value = FilesToUpload[j];
                optionElement.selected = true;
                selectElement.appendChild(optionElement)
            } 
        }

        function deleteImage(i) {
            FilesToUpload.splice(i, 1);
            FilesNameToUpload.splice(i, 1);

            displayImages()
        }
        function loginalert() {
            alert("login first");
        }

        var loader = document.getElementById('preloader');
        window.addEventListener("load", function () {
            loader.style.display = "none";
        })
    </script>


</body>
</html>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>