@using CI_Entity.ViewModel
@using System.Web
@model MissionList
@{
    Layout = "_navbar1";
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>

    <link rel="stylesheet" href="/css/AddStory.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

</head>

<body>

    <div class="container mt-3">
        <div class="row">

              <div class="col-12 col-lg-6 col-md-12 col-sm-12 p-1 ">
                <div class="container p-0">


                    @{
                        int num = 0;
                    }


                    @if (Model.storyMedia != null)
                    {
                        @foreach(var media in Model.storyMedia)
                        { 
                        @if (media.StoryType == "Video")
                        {
                            num++;
                            <div class="mySlides">
                                <div class="numbertext">@num/ @Model.storyMedia.Count()</div>
                                <iframe class="img-fluid vol-page-crousel" id="vol-page-crousel"
                                        src=@media.StoryPath style="height:355px;object-fit:cover;width:100%" alt=""></iframe>

                                </div>
                            }
                            else
                            {
                                 num++;
                            <div class="mySlides">
                                <div class="numbertext">@num/ @Model.storyMedia.Count()</div>
                                <img src="@media.StoryPath" style="height:355px;object-fit:cover;width:100%">
                            </div>
                            }
                           
                        }
                    }
                   
                    

                    <!-- Next and previous buttons -->
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>

                    <!-- Image text -->
                    <!-- Thumbnail images -->
                    <div class="row mt-1" style="flex-wrap: inherit;overflow-x: scroll">
                      
                        @{
                            int num1 = 0;
                        }
                        @if (Model.storyMedia != null)
                        {
                            @foreach (var media in Model.storyMedia)
                            {
                                @if (media.StoryPath == "Video")
                                {
                                    <div class="col-6 col-lg-3 col-4">
                                        <iframe src=@media.StoryPath title="W3Schools Free Online Web Tutorials" onclick="currentSlide(@num1)" style="overflow:hidden;width:100%"></iframe>
                                    </div>
                                }
                                else
                                {
                                    num1++;


                                    <div class="col-6 col-lg-3 col-4">
                                        <img class="demo cursor" src="@media.StoryPath" style="width:100%;height:100%" onclick="currentSlide(@num1)" alt="Northern Lights">
                                    </div>

                                }

                            }
                        }
                       

                    </div>

                </div>
            </div>

            <div class="card col-12 col-lg-6 col-md-12 col-sm-12">

                <div class="container ">
                    <div class="row mt-4 mt-md-2">
                        <div class="col-3 me-auto  ">
                            <div class=" d-flex justify-content-center">
                                <img src="/Image/volunteer1.png" class="storyuserimg rounded-circle">
                            </div>
                            <label class="fs-6 d-flex justify-content-center"> @Model.storydetails.User.FirstName &nbsp;@Model.storydetails.User.LastName</label>
                        </div>
                        <div class="col-6 col-xl-3 col-md-4 mt-auto ">
                            <div class="rounded-5 border border-black d-flex justify-content-center w-100">
                             @Model.storydetails.Views   Stories views
                            </div>

                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-12 ">
                            @Model.storydetails.Title

                        </div>
                    </div>

                    <div class="row justify-content-between mt-3">
                        @{
                            var userId = Context.Session.GetString("user");
                        }
                        @if(userId != null)
                        {
                            <button class="recom col-11 col-xl-6 col-md-5 col-lg-11 rounded-5 d-flex justify-content-center align-items-center bg-white py-2 ms-0 ms-xl-3 ms-lg-0 ms-md-3 "
                                style="border-radius:20px;" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <img src="/Image/add1.png">
                            <span class="ms-2">Recomanded to Co-Worker</span>
                            </button>
                        }
                        else
                        {
                            <button class="recom col-11 col-xl-6 col-md-5 col-lg-11 rounded-5 d-flex justify-content-center align-items-center bg-white py-2 ms-0 ms-xl-3 ms-lg-0 ms-md-3 "
                                style="border-radius:20px;" onclick="LoginAlert()">
                            <img src="/Image/add1.png">
                            <span class="ms-2">Recomanded to Co-Worker</span>
                            </button>
                        }

                        <a class="col-11 col-xl-5  col-lg-11 col-md-5  bg-white text-decoration-none mt-2  mt-xl-0 mt-lg-2 mt-md-0  mb-2 mb-md-0 p-0" style="text-decoration:none;color:orange" href="/User/Volunteering/Volunteering?missionid=@Model.storydetails.MissionId">
                            <button class="d-flex justify-content-center align-items-cente bg-white py-2 w-100" style="color:orange;border-color:orange;border-radius:20px;">
                                <span class="">Open Mission</span>
                                <img src="/Image/right-arrow.png" class="mt-1 ms-2">
                            </button>
                        </a>

                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Send Recommend TO</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body overflow-y-auto" style="height:200px;">
                                        @foreach (var u in Model.users)
                                        {
                                            <div class=" userlistdiv align-items-center d-flex my-3">
                                                <img src="/Image/volunteer1.png" class="rounded-5 me-5" style="border-radius:50%;width:50px;height:50px">
                                                <label class=" ms-4 mt-2 me-auto"> @u.LastName @u.FirstName</label>
                                                <input class="form-check-input me-2 mt-2" type="checkbox" id="@u.UserId" name="mail">
                                            </div>
                                        }
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary d-inline" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary d-inline" id="sendmail" onclick="sendmail(@Model.storydetails.StoryId)">Send Mission</button>
                                    </div>
                                    <input type="hidden" value="@Model.storydetails.StoryId"/>
                                </div>
                            </div>
                        </div>

                    </div>



                </div>

            </div>

        </div

        <div class="row " style="border-color:aqua">
            <div class="card container">                
                   @Html.Raw(HttpUtility.HtmlDecode(Model.storydetails.Description));                
            </div>
            
        </div>


    </div>
</body>
<script src="~/js/volunteering.js"></script>

<script>
    function sendmail(id) {
        const mail = Array.from(document.querySelectorAll('input[name="mail"]:checked')).map(el => el.id);
        console.log(mail)
        console.log(id)
        var send = document.getElementById("sendmail");
        send.innerHTML = "Sending";
        $.ajax({
            url: '/User/Story/SendStorymail',
            type: 'POST',
            data: { 'emailList': mail, 'storyId': id },
            success: function (result) {
                send.innerHTML = "sent";
                Swal.fire({
                position:'top-end',
                icon: 'success',
                title: 'Story Send Successfully',
                showConfirmButton: false,
                timer: 1500
                })
            },
            error: function () {
                // Handle error response from the server, e.g. show an error message to the user
                alert('Error: Could not recommend mission.');
            }
        });
    }

    function LoginAlert(){
        alert("Login First");
    }
</script>
</html>